$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$nav-backdrop: #3e3e3e;
$true-back: #000;


input {
  margin: auto 4px;
  padding: auto 4px;
}


.register {
  display: initial;
}

.disable-links {
  display: none;
}
