$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$nav-backdrop: #3e3e3e;
$true-back: #000;
$is-clickable: #0091ff;


input {
  margin: auto 4px;
  padding: auto 4px;
}


.register {
  display: initial;
}

.enable-links {
  @include opacity(1.5);
  color: $is-clickable !important;
  pointer-events: initial;

}

.btn.btn-lg.profile,
.btn.btn-lg.delete,
.btn.btn-lg.edit,
.btn.btn-lg.get-pets {
  @include opacity(.5);
  pointer-events: none;
}

.header-display-append {
display: table-inline;
text-align: center;
}

.pet-display-append {
  display: in;
  text-align: center;
  list-style: none;
}
// .modal-backdrop {
//   z-index: -1 !important;
// }
