html {
//   body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to top right,
  #c6eccc,
  #c5eff3);
  background-size: cover;
  height: 100%;
}

.main {
  background-image: url('./images/pets.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 5%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  height: 60%;
  justify-content: center space-around;
  left: 7%;
  margin: 0;
  order: 1;
  padding: 60px;
  position: absolute;
  width: 60%;
}

.flex-grid-fifths {
  display: flex;
  justify-content: space-between;
}

.flex-grid-fifths .col-hbs {
  width: 15%;
}

.pet-values {
  background: pink;
}

.button-group {
  display: inline-flex;
}
