html,
  body {
    margin: 0;
    height: 100%;
}

.test {
  background-image:
    linear-gradient(to bottom,
    #c6eccc,
    #c5eff3);
    height: 100%;
    background-size: cover;
}

.main {
  background-image: url('./images/pets.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 60%;
  position: absolute;
  width: 60%;
  left: 7%;
  bottom: 10%;
}
